$header-height: 70px;
$header-brand-font-size: 22px;
$header-nav-font-size: 16px;
$header-nav-toggle-size: 30px;
$header-breakpoint: 768px;

.header {
  background: rgba(255, 255, 255, 0.95);
  color: #222;
  height: $header-height;
  left: 0;
  position: relative;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 99999;
}
.header-brand {
  color: #000;
  float: left;
  font-size: $header-brand-font-size;
  font-weight: 600;
  margin-top: (($header-height - $header-brand-font-size) / 2);
  text-decoration: none;
}
.header-nav {
  float: right;
  margin: (($header-height - $header-nav-toggle-size) / 2) 0px;
  @media(min-width: $header-breakpoint) {
    margin: (($header-height - $header-nav-font-size) / 2) 0px;
  }
}
.header-nav ul {
  display: none;
  z-index: 99999;
  @media(min-width: $header-breakpoint) {
    display: block;
  }
}
.header-nav li {
  display: inline;
  list-style-type: none;
  @media(min-width: $header-breakpoint) {
    margin-left: 15px;
  }
}
.header-nav a {
  color:  #000;
  display: inline-block;
  font-size: $header-nav-font-size;
  font-weight: 600;
  text-decoration: none;
}
.header-nav-toggle {
  background-image: $svg-nav-toggle;
  cursor: pointer;
  display: block;
  height: $header-nav-toggle-size;
  position: relative;
  width: $header-nav-toggle-size;
  z-index: 99999;
  @media(min-width: $header-breakpoint) {
    display: none;
  }
}
.header-nav-on {
  .header-nav-toggle {
    background-image: $svg-nav-close;
    filter: none;
  }
  ul {
    background: rgba(255, 255, 255, 0.95);
    display: block;
    height: 100vh;
    left: 0;
    padding-top: $header-height;
    position: fixed;
    top: 0;
    width: 100%;
  }
  li {
    display: block;
    margin: 0;
    width: 100%;
  }
  a {
    color: #333;
    font-size: 22px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
  }
}
.has-fixed-header {
  padding-top: $header-height;
}
.has-fixed-header .header {
  position: fixed;
}
